<div class="modal fade" id="instanceModal" tabindex="-1" role="dialog" aria-labelledby="instanceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="instanceModalLabel">{{instanceModalLable}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" v-model="customer.Name" class="form-control input-instance" id="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">电话</label>
                        <div class="col-sm-9">
                            <input type="text" v-model="customer.Phone" class="form-control input-instance" id="Phone" />
                        </div>
                    </div>
                    <div class="form-group" v-for="p in properties">
                        <label class="col-sm-3 control-label">{{p.Name}}</label>
                        <div class="col-sm-9">
                            <input type="text" v-model="parseValue(customer.Properties, p.Id)"  class="form-control input-instance" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveCoin()" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info" id="app">
    <div class="panel-heading">客户管理</div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label>关键字</label>
                <input id="Keyword" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary" onclick="querySubmit()">查询</button>
            <button type="button" class="btn btn-success" onabort="">新增</button>
            <a class="btn btn-info btn-url" data-url="/views/customerProperty.html">属性管理</a>
        </form>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>操作</th>
                <th>姓名</th>
                <th>电话</th>
                <th v-for="p in properties">{{p.Name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="customer in customers.List">
                <td>
                    <button class="btn btn-primary" v-on:click="editUser(u)">编辑</button>
                    <button class="btn btn-danger" v-on:click="deleteUser(u)">删除</button>
                </td>
                <td>{{customer.Name}}</td>
                <td>{{customer.Phone}}</td>
                <td v-for="p in properties">{{ parseValue(customer.Properties, p.Id)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            customers: {},
            properties: [],
            customer: {},
            instanceModalLable: '新增'
        },
        computed:// computed是计算方法，不能接受参数的，
        {
        },
        methods: {
            parseValue: function (list, id) {
                var dict = this.makeDict(list);
                if (id) {
                    return dict[id] && dict[id].Value
                }
            },
            makeDict: function (values) {
                return (values || []).reduce(
                    function (obj, item) {
                        obj[item.PropertyId] = item
                        return obj;
                    }, {}
                );
            },
            getCustomers: function () {
                var url = "/Customer/Page";
                get(url, this.getCustomersSuccess, this.getCustomersError)
            },
            getCustomersSuccess: function (data) {
                this.customers = data;
            },
            getCustomersError: function (data) {

            },
            getProperties: function () {
                var url = "/CustomerProperty/List";
                get(url, this.getPropertiesSuccess, this.getPropertiesError)
            },
            getPropertiesSuccess: function (data) {
                this.properties = data;
            },
            getPropertiesError: function (data) {

            },
        }
    });

    $(document).ready(function () {
        vm.getCustomers();
    })

    $(document).ready(function () {
        vm.getProperties();
    })
</script>