<div class="panel panel-info" id="app">
    <div class="panel-heading">客户管理</div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label>关键字</label>
                <input id="Keyword" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary" onclick="querySubmit()">查询</button>
            <button type="button" class="btn btn-success" onabort="">新增</button>
            <a class="btn btn-info btn-url" data-url="/views/customerProperty.html">属性管理</a>
        </form>
    </div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>操作</th>
                <th>姓名</th>
                <th>电话</th>
                <th v-for="p in properties">{{p.Name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="customer in customers.List">
                <td>
                    <button class="btn btn-primary" v-on:click="editUser(u)">编辑</button>
                    <button class="btn btn-danger" v-on:click="deleteUser(u)">删除</button>
                </td>
                <td>{{customer.Name}}</td>
                <td>{{customer.Phone}}</td>
                <td v-for="p in properties">{{ parseValue(customer.Properties, p.Id)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            customers: {},
            properties: []
        },
        computed:// computed是计算方法，不能接受参数的，
        {
        },
        methods: {
            parseValue: function (list, id) {
                var dict = this.makeDict(list);
                if (id) {
                    return dict[id] && dict[id].Value
                }
            },
            makeDict: function (values) {
                return (values || []).reduce(
                    function (obj, item) {
                        obj[item.PropertyId] = item
                        return obj;
                    }, {}
                );
            },
            getCustomers: function () {
                var url = "/Customer/Page";
                get(url, this.getCustomersSuccess, this.getCustomersError)
            },
            getCustomersSuccess: function (data) {
                this.customers = data;
            },
            getCustomersError: function (data) {

            },
            getProperties: function () {
                var url = "/CustomerProperty/List";
                get(url, this.getPropertiesSuccess, this.getPropertiesError)
            },
            getPropertiesSuccess: function (data) {
                this.properties = data;
            },
            getPropertiesError: function (data) {

            },
        }
    });

    $(document).ready(function () {
        vm.getCustomers();
    })

    $(document).ready(function () {
        vm.getProperties();
    })
</script>